<div id="content_side">
  <div class="side_header">
    Recent Posts
  </div>
  <div id="recent_post">
    <div class="recent_post_header">
      Train Ride in Burma
    </div>
    <div class="recent_post_image">
      <%= image_tag("sideBurmaTrain.jpg") %>
    </div>
  </div>
  <div id="recent_post">
    <div class="recent_post_header">
      Jumping Around China
    </div>
    <div class="recent_post_image">
      <%= image_tag("sideJumpin.jpg") %>
    </div>
  </div>
</div>

