<div id="footer">
  <div class="container">
    <div class="float_left">
      <div class="footer_option_group">
        <%= link_to root_path do %>
          <div class="footer_option">
           Home
          </div>
        <% end %>
        <%= link_to about_path do %>
          <div class="footer_option">
           About
          </div>
        <% end %>
        <%= link_to posts_path do %>
          <div class="footer_option">
           Blog
          </div>
        <% end %>
        <%= link_to resume_path do %>
          <div class="footer_option">
            Resume
          </div>
        <% end %>
      </div>
    </div>
      <div class="footer_group">
        <div class="footer_image">
          <%= link_to image_tag("fb_image.png"), "https://www.facebook.com/adam.wiemerslage" %>
        </div>
        <div class="footer_image">
          <%= link_to image_tag("twitter_image.png"), "https://twitter.com/AdamWiemerslage" %>
        </div>
        <div class="footer_image">
          <%= link_to image_tag("linkedin_image.png"), "http://www.linkedin.com/pub/adam-wiemerslage/75/7/a0" %>
        </div>
      </div>
  </div>
</div>