<div id="header">
  <div class="container">
    <div id="header-Adamits">
    <%= image_tag("Adamits_logo.jpg") %>
    </div>
    <div id="navbar">
      <%= link_to root_path do %>
        <div class="navbar-option">
         Home
        </div>
      <% end %>
      <%= link_to about_path do %>
        <div class="navbar-option">
         About
        </div>
      <% end %>
      <%= link_to posts_path do %>
        <div class="navbar-option">
         Blog
        </div>
      <% end %>
      <%= link_to resume_path do %>
        <div class="navbar-option">
          Resume
        </div>
      <% end %>
    </div>
  </div>
</div>