<div class="resume_header">
  <h3>Adam Wiemerslage</h3>
  <h4>ajwieme@gmail.com</br>
    (224) 619 5514</h4>
</div>
<div class="resume_block">
  <div class="resume_sect">
    <b>Education</b>
  </div>
  <div class="resume_content">
    <i>Bachelor of Arts</i>, Illinois State University, graduated: May 2013</br>
    Major: English Studies (focus in linguistics)</br>
    Minor: Spanish</br>
    Member of the Honors Program</br>
    Cumulative GPA: 3.5</br>
    Major GPA: 4.0</br>
    Study Abroad: Hong Kong (Major: Linguistics), September-December, 2012</br>
  </div>
</div>
<div class="resume_block">
  <div class="resume_sect">
    <b>Skills</b>
  </div>
  <div class="resume_content">
    <li>Writing/Editing</li>
    <li>Intermediate level Spanish</li>
    <li>C++</li>
    <li>HTML and CSS</li>
    <li>XML/XSL</li>
    <li>Debugging</li>
  </div>
</div>
<div class="resume_block">
  <div class="resume_sect">
    <b>Experience</b>
  </div>
  <div class="resume_content">
    <div class="experience_section">
      <b>Illinois State Honors Research Mentorship</b>: Summer 2012</br></br>
      <li>Worked with a professor to collect data out of select pieces of historical fiction and give a linguistic, rhetorical, and historical analysis of data, approaching it with the question of ‘what linguistic devices do authors use to create a sense of old time in language?’ Concluded project by writing a 40-page research paper.</li>
    </div>
    <div class="experience_section">
      <b>English Tutor</b>: October 2012 - December 2012</br></br>
      <li>Prepared and taught English lessons to a 7-year-old Chinese boy in Hong Kong.
      Also wrote grammar lessons, and met for a few tutoring sessions with his Mother
      who did business with English speakers.</li>
    </div>
    <div class="experience_section">
      <b>BigMachines: </br></b>
        Customer Support Engineer, June 2013 – Present</br></br>
      <li>BigMachines sells a service based, CPQ software that aids in the configuration/pricing of sales and quoting process. I offer technical support and solutions to BigMachines customer administrators. I am also the first point of contact for businesses looking for product support, and offer consulting advice on how to best use the software.</li>
    </div>
  </div>
</div>