<div class="container ph-4">
	<div class="row nmh-4">
  	<div class="col-sm-6 col-sm-offset-3">
  		<h1 class="ph-4 text-center"> New Post </h1>
  	 	<%= render partial: "admin/posts/form" %>
    </div>
  </div>
</div>
