<div class="row nmh-4 mt-6">
  <div class="col-sm-8 col-sm-offset-2 ph-3">
    <h4 class="fw-3">SUMMARY</h4>
    <div>
      Full stack software engineer working as a contractor at superjova.com. Building ecommerce websites in
      ruby on rails, coffeescript, html, and css.
    </div>
    <h4 class="pt-3 bwt-1 bs-sld bc-5 fw-3">EDUCATION</h4>
    <div class="">
      <b>Illinois State University</b>, Bloomington, IL
      <i>Bachelor of Arts</i>, Major in English-- Linguistics, Minor in Spanish | May 2013
    </div>

    <ul>
      <li>Honors program Scholar</li>
      <li>Study abroad opportunity in Hong Kong (Sept 2012-Dec 2012), major: linuistics</li>
      <li>While studying abroad, gave tutoring sessions in English to two Chinese speakers. Tutoring included:  creating, preparing, and teaching lessons tailored to student’s needs and identifying
      areas of focus.</li>
    </ul>
    <h4 class="pt-3 bwt-1 bs-sld bc-5 fw-3">EXPERIENCE</h4>
    <div class="mt-3 fs-7 fw-3">
      Superjova
    </div>
    <div class="fs-3 italicize">
      ecommerce web consulting
    </div>
    <div class="mt-3 fs-4 italicize">
      <b>Software Engineer</b> | June 2015 - present
    </div>
    <ul class="mb-0">
      <li>
        Utilize the full web stack to develop features that drive ecommerce businesses with attention to design,
        scalability, efficiency, and maintainability.
      </li>
      <li>
        Understand client requirements based on mock ups and the goals of a feature.
      </li>
      <li>
        Collaborate with other engineers using the story system on pivotal, and GitHub.
      </li>
      <li>
        Work within an existing code base, and leverage an existing schema and methods in order to augment
        features.
      </li>
    </ul>
    <div class="pl-8 fs-2 italicize">
      Primary Technologies Utilized: HTML, CSS (Helio framework), coffeescript, Ruby on Rails
    </div>
    <div class="mt-3 fs-7 fw-3">
      Oracle USA (BigMachine acquisition)
    </div>
    <div class="fs-3 italicize">
      Configuration, Pricing, and quoting (CPQ) Software application, which automates the sales and
      quoting process.
    </div>
    <div class="mt-3 fs-4 italicize">
      <b>Staff Consultant</b> | June 2014– June 2015
    </div>
    <ul class="mb-0">
      <li>
        Design, implement, test, and document new features requested by clients with attention to system
        performance, scalability, maintainability, and readability of code.
      </li>
      <li>
        Migrate features from a test environment to a production environment to release to end users, and
        develop strategies of organizing, querying and migrating large amounts of data.
      </li>
      <li>
        Gather requirements and consult on how to use the platform most effectively via phone calls, screen
        shares, and email.
      </li>
      <li>
        Understand common pricing and configuration features like enabling of channel partners, tiered pricing,
        discounting, and approval patterns, and interpret them into maintainable code.
      </li>
      <li>
        Utilize web technologies to integrate with ERP, and other third party systems, as well as to build features
        that are not standardized within the platform.
      </li>
      <li>
        Contribute to internal projects such as developing, and automating a standard testing strategy, as well as
        building a wiki to consolidate CPQ consultant knowledge.
      </li>
    </ul>
    <div class="pl-8 fs-2 italicize">
      Primary Technologies Utilized: HTML, CSS, JavaScript, XML, XSL, Salesforce.com, Proprietary scripting language (BML/BMQL)
    </div>
    <div class="mt-3 fs-4 italicize">
      <b>Associate Technical Support Engineer</b> |  June 2013 - June 2014
    </div>
    <ul class="mb-0">
      <li>
        Provide technical expertise to administrators of Oracle CPQ Cloud.
      </li>
      <li>
        Identify and fix defects in implementations that could be due to unmaintainable features, deprecated
        functionality, or bugs in the platform.
      </li>
      <li>
        Identify and log bugs that exist within the platform
      </li>
    </ul>
    <div class="mt-3 fs-7 fw-3">
      Honors Summer Research Mentorship
    </div>
    <div class="mt-3 fs-4 italicize">
      <b>Research Mentee</b> | Summer 2012
    </div>
    <ul class="mb-0">
      <li>
        Assisted Illinois State University professor in collecting data from select pieces of historical fiction and
        gave a linguistic, rhetoric and historical analysis.
      </li>
      <li>
        Developed and implemented the method for data collection, storage and organization utilized for the
        duration of the project (not a technical method).  The project was focused around the question, “what
        linguistic devices do authors use to create a sense of old time in language?”
      </li>
      <li>
        Summarized findings through the writing of a forty page research analysis paper.
      </li>
    </ul>
    <h4 class="pt-3 bwt-1 bs-sld bc-5 fw-3">ADDITIONAL KNOWLEDGE/SKILLS</h4>
    <ul class="mb-0">
      <li>
        Linguistics
      </li>
      <li>
        Natural Language Processing
      </li>
      <li>
        SQL
      </li>
      <li>
        Linux
      </li>
      <li>
        C++
      </li>
    </ul>
  </div>
</div>
